<%- include("partials/header"); -%>
<h1 class="h2" style="display: inline-block;">HOME : PROJECTS</h1>
<div class="navbar-collapse pull-right">
  <form class="navbar-form " role="search" style="display: inline-block;">
    <div class="form-group">
      <input type="text" class="form-control button" placeholder="Project Name">
      <button type="submit" class="btn button">Search</button>
    </div>
  </form>
  <button onclick="location.href='/compose'"  class="btn button " type="button">+ Projects</button>
</div>
<hr class="my-3">
<% posts.forEach(function(post){ %>
  
  <div class ="listing">
  <h4 class="h4"> <%= post.title.toUpperCase() %> </h4>
  <% if(post.description.length >= 200){ %>
  <p> <%= post.description.substring(0,200)+"..." %> </p>
  <% }else{ %>
  <p> <%= post.description %></p>
  <% } %>
  </div>
  <script>
    
  </script>
<% }) %>
<%- include("partials/footer") -%>